/* style.css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  background: #666;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#main_header {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100px;
  background: #000;
  padding-left: 50px;
}

h1.logo_title {
  padding-top: 2px;
}

h1.logo_title img {
  width: 100px;
}

#gnb {
  position: absolute;
  left: 180px;
  top: 40px;
}

#gnb > ul > li {
  float: left;
  padding: 5px 15px;
  font-size: 13px;
}

input {
  background: #0d0d0d;
  position: absolute;
  right: 45px;
  top: 25px;
  border: 1px solid #868686;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 1px;
}

#gnb > ul > li.event > a > span {
  margin-left: 1em;
}

#gnb > ul > li > a {
  color: #fff;
  text-transform: uppercase;
  display: block;
}

/* 2단계 메뉴 구현 */
#gnb .depth2 {
 background: #ccc;
  margin-top: 36px;
  display: none; /* 기본은 비표시 */
}

/* 복합 선택자: 상태선택자 > 자식(후손) 
  1단계 메뉴가 hover시 후손 .depth2가 표시 
*/
#gnb > ul > li:hover > .depth2{
  display: block;
}

#gnb .depth2 > li {
  padding: 5px;
}

#gnb .depth2 > li > a {
  color: #000;
  text-align: center;
}

#gnb > ul > li > a:hover {
  color: #907137;
}

#gnb > ul > li:last-child > a:hover {
  text-decoration: none;
}

/* 2단계 메뉴 hover시 텍스트 하이라이트 효과 */
#gnb .depth2 > li > a:hover {
  /* 글자색: 흰색, 불투명도 75%(0.75) */
  color: rgba(255,255,255,0.75);
}
section {
  width: 100%;
  height: 800px;
  text-align: center ;
  clear: both;
}

#titlemv, #featured, #digital, #videos {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  text-shadow: #000 2px 2px;
}

#titlemv h1 img, #featured h1 img, #digital h1 img, #videos h1 img {
  width: 100px;
  margin-top: 50px;
}

#titlemv {
  background-image: url(./images/b_contents.jpeg);
  background-attachment: fixed;
}

#featured {
  background-image: url(./images/b_contents2.jpeg);
}

#digital {
  background-image: url(./images/b_contents3.jpeg);
  background-attachment: fixed;
}

#videos {
  background-image: url(./images/b_contents4.jpeg);
}

.section_group h2 {
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.section_group a:visited {
  color: #fff;
}

.section_nav {
  margin-top: 1.5em;
}

.section_nav a:hover {
  color: #907137;
}

.section_nav > ul > li {
  display: inline-block;
  color: #fff;
}

.section_nav > ul > li > a {
  color: #fff;
}

.section_nav > ul > li > span {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 13px;
  color: rgba(255,255,255,0.75);
}

.section_group {
  padding-top: 170px;
}

#main_footer {
  height: 300px;
  background: #000;
  color: #9b9b9b;
  padding: 0 50px;
  text-align: center;
}

#ftr_logo ul li {
  list-style-type: none;
  display: inline-block;
}

#ftr_logo h1 img {
  width: 80px;
  margin-top: 20px;
}

#ftr_logo ul li img {
  width: 60px;
  margin-top: 5px;
  padding-right: 30px;
}

#ftr_nav ul li {
  list-style-type: none;
  display: inline-block;
}

#ftr_nav ul li {
  margin-top: 20px;
  font-size: 13px;
}

#ftr_nav ul li a {
  color: #fff;
  padding-right: 20px;
}
#ftr_nav ul li a:hover {
  text-decoration: underline;
}
#ftr_nav p {
  margin-top: 25px;
  color: #fff;
}
